:root {
	--purple: #5865e0;
	--darkGrey: #9c9c9c;
	/* light theme */
	--grey: #f5f6f8;
	--white: #fff;
	--black: rgb(0, 0, 0);
	/* dark theme */
	--darkBlue: #131822;
	--lightBlue: #19212d;
	/* box-shadow */
	--level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/* navbar
------------------------------------------------------
------------------------------------------------------ */

header {
	background-color: var(--purple);
	color: var(--white);
	display: flex;
	justify-content: space-between;
	font-size: 1.5rem;
	user-select: none;
	padding: 2% 10% 2% 10%;
	border-radius: 0px 0px 0px 50px;
}
.header-link {
	font-weight: 700;
	text-decoration: none;
	color: var(--white);
}

/* theme settings
------------------------------------------------------
------------------------------------------------------ */
.dark-theme {
	background-color: var(--darkBlue);
	--cardColor: var(--lightBlue);
	--titleColor: var(--white);
	min-height: 100vh;
	min-width: 100vw;
}

.light-theme {
	background-color: var(--grey);
	--cardColor: var(--white);
	--titleColor: var(--black);
	min-height: 100vh;
	min-width: 100vw;
}

/* landing page, jobs list
------------------------------------------------------
------------------------------------------------------ */

.job-list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-bottom: 6rem;
	margin: none;
}

.job-card {
	background-color: var(--cardColor);
	padding: 0 2rem 2rem 2rem;
	margin: 2rem;
	border-radius: 5px;
	text-decoration: none;
	box-shadow: var(--level-1);
	height: 15rem;
	width: 60vw;
	max-width: 200px;
}

.job-card-title {
	color: var(--titleColor);
	margin: 0;
	padding: 0.5rem 0 0.5rem 0;
	font-size: 1.25rem;
}
.job-card-content {
	color: var(--darkGrey);
	font-size: 75%;
}

.job-location {
	color: var(--purple);
	padding: 0.5rem 0 0.5rem 0;
	font-weight: 700;
}

.thumbnail {
	background-color: var(--grey);
	height: auto;
	width: 2.5rem;
	margin-top: -35px;
	padding: 2px;
	border-radius: 0.25rem;
	box-shadow: var(--level-1);
}

/* job details page
------------------------------------------------------
------------------------------------------------------ */

/* main page styles */
.details-page {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 5rem;
}
/* main body card styles */
.job-details-card {
	width: 50%;
	background-color: var(--cardColor);
	padding: 2rem 2rem 2rem 2rem;
	margin: 2rem;
	border-radius: 5px;
	text-decoration: none;
	box-shadow: var(--level-1);
	color: var(--darkGrey);
	font-size: 100%;
}
.job-details-card a {
	color: var(--purple);
}
.job-details-card .apply-now {
	text-decoration: none;
	color: var(--white);
	background-color: var(--purple);
	padding: 0.6rem;
	border-radius: 7px;
	font-size: 0.7rem;
}

.title-line {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.job-details-title {
	color: var(--titleColor);
	width: 20rem;
}
/* header card styles */
.company-header-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	height: 3rem;
	background-color: var(--cardColor);
	padding: 2rem 2rem 2rem 2rem;
	border-radius: 5px;
	text-decoration: none;
	box-shadow: var(--level-1);
	color: var(--titleColor);
	margin-top: -1%;
}
.company-header-logo {
	max-width: 10%;
	max-height: 10%;
	object-fit: contain;
}
.company-site {
	text-decoration: none;
	text-align: center;
	color: var(--purple);
	background-color: var(--grey);
	padding: 0.6rem;
	width: 7rem;
	border-radius: 7px;
	font-size: 0.7rem;
}
/* apply card at bottom of page */
.apply-card {
	width: 50%;
	background-color: var(--purple);
	padding: 2rem 2rem 2rem 2rem;
	border-radius: 5px;
	text-decoration: none;
	box-shadow: var(--level-1);
	color: var(--white);
}
.apply-card a {
	color: var(--white);
}

/* pagination styles https://academind.com/tutorials/reactjs-pagination/
------------------------------------------------------
------------------------------------------------------ */

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
}

.paginationItem {
	background: #fff;
	border: 2px solid #666;
	padding: 10px 15px;
	border-radius: 50%;
	height: 1em;
	width: 1em;
	position: relative;
	margin: 0 5px;
	cursor: pointer;
}

.paginationItem span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.prev,
.next {
	background: #fff;
	border: none;
	padding: 10px;
	color: blue;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
	margin: 0 10px;
	cursor: pointer;
}

.paginationItem.active {
	border: 1px solid #888;
	color: #888;
	pointer-events: none;
}

.prev.disabled,
.next.disabled {
	pointer-events: none;
	box-shadow: none;
	color: #999;
}

/* loading animation styles from https://loading.io/css/
------------------------------------------------------
------------------------------------------------------ */
.job-list .loading {
	margin: 0 45vw 0 45vw;
}

.lds-ellipsis {
	position: relative;
	justify-content: center;
	width: 80px;
	height: 80px;
}
.lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: var(--purple);
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}
